In [1]:
# Все необходимые импорты

from sklearn.preprocessing import LabelEncoder

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

from sklearn.model_selection import train_test_split

# Вариант 1

1. Подсчитайте количество пропусков в каждой колонке данного DataFrame.
2. Подсчитайте сколько уникальных значений в колонке `Hydrocarbon type` и сколько раз каждое уникальное значение встречается в данном DataFrame.
3. Закодируйте колонку `Hydrocarbon type` двумя способами: `LabelEncoder()` и `get_dummies()`.

In [43]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/train_oil.csv")

In [31]:
df.head(20)

,Field name,Reservoir unit,Country,Region,Basin name,Tectonic regime,Latitude,Longitude,Operator company,Onshore/Offshore,Hydrocarbon type,Reservoir status,Structural setting,Depth,Reservoir period,Lithology,Thickness (gross average ft),Thickness (net pay average ft),Porosity,Permeability
0,ZHIRNOV,MELEKESKIAN,RUSSIA,FORMER SOVIET UNION,VOLGA-URAL,COMPRESSION/EVAPORITE,51.0000,44.8042,NIZHNEVOLZHSKNET,ONSHORE,OIL,DECLINING PRODUCTION,FORELAND,1870,CARBONIFEROUS,SANDSTONE,262.0,33.0,24.0,30.0
1,LAGOA PARDA,LAGOA PARDA (URUCUTUCA),BRAZIL,LATIN AMERICA,ESPIRITO SANTO,EXTENSION,-19.6017,-39.8332,PETROBRAS,ONSHORE,OIL,NEARLY DEPLETED,PASSIVE MARGIN,4843,PALEOGENE,SANDSTONE,2133.0,72.0,23.0,350.0
2,ABQAIQ,ARAB D,SAUDI ARABIA,MIDDLE EAST,THE GULF,COMPRESSION/EVAPORITE,26.0800,49.8100,SAUDI ARAMCO,ONSHORE,OIL,REJUVENATING,FORELAND,6050,JURASSIC,LIMESTONE,250.0,184.0,21.0,410.0
3,MURCHISON,BRENT,UK /NORWAY,EUROPE,NORTH SEA NORTHERN,EXTENSION,61.3833,1.7500,CNR,OFFSHORE,OIL,NEARLY DEPLETED,RIFT,8988,JURASSIC,SANDSTONE,425.0,300.0,22.0,750.0
4,WEST PEMBINA,NISKU (PEMBINA L POOL),CANADA,NORTH AMERICA,WESTERN CANADA,COMPRESSION,53.2287,-115.8008,NUMEROUS,ONSHORE,OIL,UNKNOWN,FORELAND,9306,DEVONIAN,DOLOMITE,233.0,167.0,11.8,1407.0
5,UCHKYR,XV-1,UZBEKISTAN,FORMER SOVIET UNION,AMU DARYA,INVERSION/COMPRESSION/EXTENSION/EVAPORITE,40.1494,62.9906,SREDAZGAZPROM,ONSHORE,GAS,DECLINING PRODUCTION,INVERSION/RIFT,5443,JURASSIC,DOLOMITE,82.0,59.0,16.0,61.0
6,WESTHOPE SOUTH,CHARLES,USA,NORTH AMERICA,WILLISTON,COMPRESSION,48.8521,-101.0130,AMERADA HESS,ONSHORE,OIL,MATURE PRODUCTION,INTRACRATONIC,3275,CARBONIFEROUS,DOLOMITIC LIMESTONE,43.0,15.5,10.0,2.6
7,MCALLEN RANCH,LOWER VICKSBURG,USA,NORTH AMERICA,GULF OF MEXICO NORTHERN ONSHORE,GRAVITY/EXTENSION/SHALE/SYNSEDIMENTATION,26.6226,-98.3153,SHELL,ONSHORE,GAS,MATURE PRODUCTION,DELTA/PASSIVE MARGIN,9400,PALEOGENE,SANDSTONE,300.0,140.0,16.0,0.6
8,ELLIS RANCH,CLEVELAND,USA,NORTH AMERICA,ANADARKO,COMPRESSION/EROSION,36.2724,-100.7161,NUMEROUS,ONSHORE,GAS,DECLINING PRODUCTION,FORELAND,6500,CARBONIFEROUS,SHALY SANDSTONE,150.0,26.0,14.0,0.4
9,STRACHAN,LEDUC,CANADA,NORTH AMERICA,WESTERN CANADA,COMPRESSION,52.4500,-115.4286,BANF AND AQUITAINE,ONSHORE,GAS,NEARLY DEPLETED,FORELAND,12068,DEVONIAN,DOLOMITE,900.0,535.0,7.8,11.0
10,MENE GRANDE,ISNOTU,VENEZUELA,LATIN AMERICA,MARACAIBO,COMPRESSION/EROSION,9.8228,-70.9198,REPSOL YPF,ONSHORE,OIL,REJUVENATING,FORELAND,1104,NEOGENE,THINLY-BEDDED SANDSTONE,1400.0,100.0,30.0,1000.0
11,BADR EL DIN-2,BAHARIYA,NaN,NaN,NaN,EXTENSION,NaN,NaN,BAPETCO,ONSHORE,GAS-CONDENSATE,DECLINING PRODUCTION,RIFT,7546,CRETACEOUS,SANDSTONE,361.0,148.0,20.0,225.0
12,BRIDGER LAKE,DAKOTA SANDSTONE (LOWER MEMBER),NaN,NaN,NaN,COMPRESSION/EROSION,NaN,NaN,BTA OIL PRODUCERS,ONSHORE,OIL,NEARLY DEPLETED,FORELAND,15460,CRETACEOUS,SANDSTONE,270.0,35.0,12.8,79.0
13,JUDY CREEK,SWAN HILLS (JUDY CREEK A POOL),CANADA,NORTH AMERICA,WESTERN CANADA,COMPRESSION,54.4995,-115.4904,IMPERIAL OIL RESOURCES,ONSHORE,OIL,MATURE PRODUCTION,FORELAND,8540,DEVONIAN,LIMESTONE,230.0,60.0,9.0,45.0
14,ANGUS,ANGUS SAND,UK,EUROPE,NORTH SEA CENTRAL,EXTENSION/EROSION,56.1648,3.0593,AMERADA HESS,OFFSHORE,OIL,DECLINING PRODUCTION,RIFT,10130,JURASSIC,SANDSTONE,100.0,60.0,18.0,3000.0
15,SCOTT,SGIATH-PIPER,NaN,NaN,NaN,EXTENSION/EVAPORITE,NaN,NaN,NEXEN,OFFSHORE,OIL,DECLINING PRODUCTION,RIFT,9940,JURASSIC,SANDSTONE,360.0,290.0,16.0,100.0
16,HEERA,BASSEIN (ZONE B),INDIA,NaN,NaN,EXTENSION,18.1720,72.3130,ONGC,OFFSHORE,OIL,DECLINING PRODUCTION,PASSIVE MARGIN,4542,PALEOGENE,LIMESTONE,230.0,82.0,12.0,0.8
17,HUGOTON-PANHANDLE,CHASE (HUGOTON),USA,NORTH AMERICA,ANADARKO,COMPRESSION/EROSION,37.0386,-101.0039,NUMEROUS,ONSHORE,GAS,DECLINING PRODUCTION,FORELAND,1700,PERMIAN,DOLOMITE,240.0,45.0,14.0,5.0
18,CUSIANA,MIRADOR,COLOMBIA,LATIN AMERICA,LLANOS,COMPRESSION/SHALE,5.0299,-72.6719,BP AND OTHERS,ONSHORE,OIL,DECLINING PRODUCTION,THRUST/SUB-THRUST/FORELAND,13000,PALEOGENE,SANDSTONE,400.0,200.0,9.0,100.0
19,CLYDE,FULMAR,UK,EUROPE,NORTH SEA CENTRAL,GRAVITY/EVAPORITE/EXTENSION,56.4500,2.2833,TALISMAN,OFFSHORE,OIL,NEARLY DEPLETED,SALT/RIFT,11787,JURASSIC,THINLY-BEDDED SANDSTONE,650.0,390.0,20.0,350.0

In [5]:
df.isna().sum()

Field name                         0
Reservoir unit                     0
Country                           27
Region                            38
Basin name                        38
Tectonic regime                    0
Latitude                          27
Longitude                         30
Operator company                   0
Onshore/Offshore                   0
Hydrocarbon type                   0
Reservoir status                   0
Structural setting                 0
Depth                              0
Reservoir period                   0
Lithology                          0
Thickness (gross average ft)       0
Thickness (net pay average ft)     0
Porosity                           0
Permeability                       0
dtype: int64

198 пропусков

кол-во каждого уникального значения в колонке "Hydrocarbon type"

In [14]:
df.value_counts("Hydrocarbon type")

Hydrocarbon type
OIL               231
GAS                46
GAS-CONDENSATE     30
CARBON DIOXIDE      2
dtype: int64

4 уникальных значения в колонке Hydrocarbon type

In [28]:
df.nunique()

Field name                        285
Reservoir unit                    258
Country                            42
Region                              7
Basin name                         93
Tectonic regime                    55
Latitude                          262
Longitude                         260
Operator company                  138
Onshore/Offshore                    3
Hydrocarbon type                    4
Reservoir status                   13
Structural setting                 43
Depth                             279
Reservoir period                   22
Lithology                          13
Thickness (gross average ft)      166
Thickness (net pay average ft)    166
Porosity                           68
Permeability                      151
dtype: int64

In [35]:
from pandas import get_dummies
pd = df['Hydrocarbon type']
df = get_dummies(pd)
df

     CARBON DIOXIDE  GAS  GAS-CONDENSATE  OIL
0                 0    0               0    1
1                 0    0               0    1
2                 0    0               0    1
3                 0    0               0    1
4                 0    0               0    1
..              ...  ...             ...  ...
304               0    0               1    0
305               0    1               0    0
306               0    0               0    1
307               0    0               0    1
308               0    0               0    1

[309 rows x 4 columns]

In [46]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(df['Hydrocarbon type']) 
df['Hydrocarbon type'] = label_encoder.transform(df['Hydrocarbon type']) 
df.head(20)

,Field name,Reservoir unit,Country,Region,Basin name,Tectonic regime,Latitude,Longitude,Operator company,Onshore/Offshore,Hydrocarbon type,Reservoir status,Structural setting,Depth,Reservoir period,Lithology,Thickness (gross average ft),Thickness (net pay average ft),Porosity,Permeability
0,ZHIRNOV,MELEKESKIAN,RUSSIA,FORMER SOVIET UNION,VOLGA-URAL,COMPRESSION/EVAPORITE,51.0000,44.8042,NIZHNEVOLZHSKNET,ONSHORE,3,DECLINING PRODUCTION,FORELAND,1870,CARBONIFEROUS,SANDSTONE,262.0,33.0,24.0,30.0
1,LAGOA PARDA,LAGOA PARDA (URUCUTUCA),BRAZIL,LATIN AMERICA,ESPIRITO SANTO,EXTENSION,-19.6017,-39.8332,PETROBRAS,ONSHORE,3,NEARLY DEPLETED,PASSIVE MARGIN,4843,PALEOGENE,SANDSTONE,2133.0,72.0,23.0,350.0
2,ABQAIQ,ARAB D,SAUDI ARABIA,MIDDLE EAST,THE GULF,COMPRESSION/EVAPORITE,26.0800,49.8100,SAUDI ARAMCO,ONSHORE,3,REJUVENATING,FORELAND,6050,JURASSIC,LIMESTONE,250.0,184.0,21.0,410.0
3,MURCHISON,BRENT,UK /NORWAY,EUROPE,NORTH SEA NORTHERN,EXTENSION,61.3833,1.7500,CNR,OFFSHORE,3,NEARLY DEPLETED,RIFT,8988,JURASSIC,SANDSTONE,425.0,300.0,22.0,750.0
4,WEST PEMBINA,NISKU (PEMBINA L POOL),CANADA,NORTH AMERICA,WESTERN CANADA,COMPRESSION,53.2287,-115.8008,NUMEROUS,ONSHORE,3,UNKNOWN,FORELAND,9306,DEVONIAN,DOLOMITE,233.0,167.0,11.8,1407.0
5,UCHKYR,XV-1,UZBEKISTAN,FORMER SOVIET UNION,AMU DARYA,INVERSION/COMPRESSION/EXTENSION/EVAPORITE,40.1494,62.9906,SREDAZGAZPROM,ONSHORE,1,DECLINING PRODUCTION,INVERSION/RIFT,5443,JURASSIC,DOLOMITE,82.0,59.0,16.0,61.0
6,WESTHOPE SOUTH,CHARLES,USA,NORTH AMERICA,WILLISTON,COMPRESSION,48.8521,-101.0130,AMERADA HESS,ONSHORE,3,MATURE PRODUCTION,INTRACRATONIC,3275,CARBONIFEROUS,DOLOMITIC LIMESTONE,43.0,15.5,10.0,2.6
7,MCALLEN RANCH,LOWER VICKSBURG,USA,NORTH AMERICA,GULF OF MEXICO NORTHERN ONSHORE,GRAVITY/EXTENSION/SHALE/SYNSEDIMENTATION,26.6226,-98.3153,SHELL,ONSHORE,1,MATURE PRODUCTION,DELTA/PASSIVE MARGIN,9400,PALEOGENE,SANDSTONE,300.0,140.0,16.0,0.6
8,ELLIS RANCH,CLEVELAND,USA,NORTH AMERICA,ANADARKO,COMPRESSION/EROSION,36.2724,-100.7161,NUMEROUS,ONSHORE,1,DECLINING PRODUCTION,FORELAND,6500,CARBONIFEROUS,SHALY SANDSTONE,150.0,26.0,14.0,0.4
9,STRACHAN,LEDUC,CANADA,NORTH AMERICA,WESTERN CANADA,COMPRESSION,52.4500,-115.4286,BANF AND AQUITAINE,ONSHORE,1,NEARLY DEPLETED,FORELAND,12068,DEVONIAN,DOLOMITE,900.0,535.0,7.8,11.0
10,MENE GRANDE,ISNOTU,VENEZUELA,LATIN AMERICA,MARACAIBO,COMPRESSION/EROSION,9.8228,-70.9198,REPSOL YPF,ONSHORE,3,REJUVENATING,FORELAND,1104,NEOGENE,THINLY-BEDDED SANDSTONE,1400.0,100.0,30.0,1000.0
11,BADR EL DIN-2,BAHARIYA,NaN,NaN,NaN,EXTENSION,NaN,NaN,BAPETCO,ONSHORE,2,DECLINING PRODUCTION,RIFT,7546,CRETACEOUS,SANDSTONE,361.0,148.0,20.0,225.0
12,BRIDGER LAKE,DAKOTA SANDSTONE (LOWER MEMBER),NaN,NaN,NaN,COMPRESSION/EROSION,NaN,NaN,BTA OIL PRODUCERS,ONSHORE,3,NEARLY DEPLETED,FORELAND,15460,CRETACEOUS,SANDSTONE,270.0,35.0,12.8,79.0
13,JUDY CREEK,SWAN HILLS (JUDY CREEK A POOL),CANADA,NORTH AMERICA,WESTERN CANADA,COMPRESSION,54.4995,-115.4904,IMPERIAL OIL RESOURCES,ONSHORE,3,MATURE PRODUCTION,FORELAND,8540,DEVONIAN,LIMESTONE,230.0,60.0,9.0,45.0
14,ANGUS,ANGUS SAND,UK,EUROPE,NORTH SEA CENTRAL,EXTENSION/EROSION,56.1648,3.0593,AMERADA HESS,OFFSHORE,3,DECLINING PRODUCTION,RIFT,10130,JURASSIC,SANDSTONE,100.0,60.0,18.0,3000.0
15,SCOTT,SGIATH-PIPER,NaN,NaN,NaN,EXTENSION/EVAPORITE,NaN,NaN,NEXEN,OFFSHORE,3,DECLINING PRODUCTION,RIFT,9940,JURASSIC,SANDSTONE,360.0,290.0,16.0,100.0
16,HEERA,BASSEIN (ZONE B),INDIA,NaN,NaN,EXTENSION,18.1720,72.3130,ONGC,OFFSHORE,3,DECLINING PRODUCTION,PASSIVE MARGIN,4542,PALEOGENE,LIMESTONE,230.0,82.0,12.0,0.8
17,HUGOTON-PANHANDLE,CHASE (HUGOTON),USA,NORTH AMERICA,ANADARKO,COMPRESSION/EROSION,37.0386,-101.0039,NUMEROUS,ONSHORE,1,DECLINING PRODUCTION,FORELAND,1700,PERMIAN,DOLOMITE,240.0,45.0,14.0,5.0
18,CUSIANA,MIRADOR,COLOMBIA,LATIN AMERICA,LLANOS,COMPRESSION/SHALE,5.0299,-72.6719,BP AND OTHERS,ONSHORE,3,DECLINING PRODUCTION,THRUST/SUB-THRUST/FORELAND,13000,PALEOGENE,SANDSTONE,400.0,200.0,9.0,100.0
19,CLYDE,FULMAR,UK,EUROPE,NORTH SEA CENTRAL,GRAVITY/EVAPORITE/EXTENSION,56.4500,2.2833,TALISMAN,OFFSHORE,3,NEARLY DEPLETED,SALT/RIFT,11787,JURASSIC,THINLY-BEDDED SANDSTONE,650.0,390.0,20.0,350.0

# Вариант 2

1. Постройте точечный график от двух переменных `Latitude` и	`Longitude`. График и оси должны быть подписаны.
2. Целевая переменная `Onshore/Offshore`. Выделите вектор целевой переменной и вектор признаков. Создайте тренировочную и тестовые подвыборки.
3. Создайте массив типа np.array() размером (4,4) и заполните 1 по главной диагонали.

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/train_oil.csv")

# Вариант 3.

1. Реализуйте метод локтя для данного набора данных и сделайте вывод об оптимальном числе кластеров.
2. Подсчитайте сколько мужин, а сколько женщин в данном наборе  данных.
3. Постройте точечный график от двух переменных `Age` и `Income`.

*P.s. все графики и оси должны быть подписаны.*

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/segmentation%20data%20(1).csv")

# Вариант 4.

1. Постройте матрицу корреляции для данного набора данных и сделайте по ней вывод.
2. Подсчитайте пропуски в данных.
3. Есть ли в вашем наборе данных категориальные признаки? Если да, то закодируйте любой из них с использованием `get_dummies()`.

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/segmentation%20data%20(1).csv")

# Вариант 5

1. Визуализируйте дендрограмму по данному набору данных.
2. Подсчитайте сколько уникальных значений в колонке Education и сколько раз встречается каждое уникальное значение в наборе данных.
3. Постройте точечный график от двух переменных `Age` и `Income`.

*P.s. все графики и оси должны быть подписаны.*

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/segmentation%20data%20(1).csv")

# Вариант 6

Целевая переменная `name`. Реализуйте алгоритм класификации на данном наборе данных, с использование разделения выборки на тренировочный и тестовый подвыборки. Оцените полученный результат с использованием метрик классификации и сделайте вывод.

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/citrus.csv")

# Вариант 7

Целевая переменная `charges`. Реализуйте алгоритм линейной регрессии на данном наборе данных, с использование разделения выборки на тренировочный и тестовый подвыборки. Оцените полученный результат с использованием метрик регрессии и сделайте вывод.

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/insurance.csv")

# Вариант 8

1. Посчитайте сколько уникальных значений в колонке `region` и сколько раз каждое уникальное значение встречается в наборе данных.
2. Целевая колонка `charges`, к какому типу задач машинного обучения отнести данную задачу?
3. Постройте алгоритм линейной регрессии для данного набора данных и напишите полученное уравнение регресии.

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/insurance.csv")

# Вариант 9

Целевая переменная `Salary`. Реализуйте алгоритм линейной регрессии на данном наборе данных, с использование разделения выборки на тренировочный и тестовый подвыборки. Оцените полученный результат с использованием метрик регрессии и сделайте вывод. Визуализируйте полученную прямую регрессии.

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/Salary_Data.csv")

# Вариант 10

1. Закодируйте переменную `name` с использованием двух методов: `LabelEncoder()` и `get_dummies()`.
2. Реализуйте алгоритм классификации на данном наборе данных и оцените результат работы модели с помощью `confusion matrix`. Целевая переменная `name`.
3. Постройте точечный график от двух переменных `diameter` и `weight`.

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/citrus.csv")

# Вариант 11

Реализуйте алгоритм кластеризации Kmeans на данном наборе данных, с использованием метода локтя для поиска оптимального числа кластеров.

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/bestsellers%20with%20categories.csv")

# Вариант 12

1. На данном наборе данных в случае решения задачи кластеризации, классификации и регрессии: что бы вы выбрали в качестве признаков, что в качестве целевой переменной?
Для каждого случая напишите названия переменных.
2. Посчитайте сколько уникальных значений в колонке `Genre` и сколько раз каждое уникальное значение встречается.
3. Закадируйте переменную `Genre` с использованием двух методов: `LabelEncoder()` и `get_dummies()`.

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/bestsellers%20with%20categories.csv")

# Вариант 13

1. Определите какие переменные в данном датасете являются категориальными и закодируйте их с использованием любого известного вам метода.
2. Реализуйте алгоритм классификации на данном наборе данных, взяв за целевую переменную колонку `Genre`.
3. Оцените алгоритм классификации любой известной вам метрикой классификации.

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/bestsellers%20with%20categories.csv")

# Вариант 14

У вас есть набор правильных и предсказанных ответов для классификатора и регрессора. Реализуйте вручую метод оценивания результатов работы алгоритмов. Посчитайте метрики воспользовавшись готовыми функциями из библиотеки `sklearn`, сравните, сделайте вывод о полученных значениях.

In [ ]:
import numpy as np
import pandas as pd
import random

y_pred_clf = [random.randint(1,5) for i in range(30)] # предсказанные ответы классификатором
y_true_clf = [random.randint(1,5) for i in range(30)] # правильные ответы классификатором

y_pred_reg = [random.uniform(1,5) for i in range(30)] # предсказанные ответы регрессором
y_true_reg = [random.uniform(1,5) for i in range(30)] # правильные ответы регрессором

# Вариант 16

1. Подсчитайте количество пропусков в каждой колонке данного DataFrame.
2. Подсчитайте сколько уникальных значений в колонке `Hydrocarbon type` и сколько раз каждое уникальное значение встречается в данном DataFrame.
3. Закодируйте колонку `Hydrocarbon type` двумя способами: `LabelEncoder()` и `get_dummies()`.

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/train_oil.csv")