In [2]:
# Все необходимые импорты

from sklearn.preprocessing import LabelEncoder

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

from sklearn.model_selection import train_test_split

# Вариант 8

1. Посчитайте сколько уникальных значений в колонке `region` и сколько раз каждое уникальное значение встречается в наборе данных.
2. Целевая колонка `charges`, к какому типу задач машинного обучения отнести данную задачу?
3. Постройте алгоритм линейной регрессии для данного набора данных и напишите полученное уравнение регресии.

In [1]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/insurance.csv")

In [3]:
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

№1

In [22]:
for i in df['region'].unique():
  print(i)
df['region'].unique().size
# Всего 4 региона

southwest
southeast
northwest
northeast

4

In [15]:
df['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

№3

In [29]:
df_mod = df
enc = LabelEncoder()
enc.fit(df['sex'])
df_mod['sex'] = enc.transform(df_mod['sex'])

enc = LabelEncoder()
enc.fit(df['smoker'])
df_mod['smoker'] = enc.transform(df_mod['smoker'])

enc = LabelEncoder()
enc.fit(df['region'])
df_mod['region'] = enc.transform(df_mod['region'])

df_mod.head(5)

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [65]:
x_train, x_test, y_train, y_test = train_test_split(df_mod.drop(['charges'], axis = 1), df_mod['charges'], test_size=0.2)

In [66]:
model = LinearRegression()
model.fit(x_train, y_train)

# Обучение модели

LinearRegression()

In [71]:
pred = model.predict(x_test)
print(mean_absolute_error(y_test, pred))
print(mean_squared_error(y_test, pred))
print(r2_score(y_test, pred))

4058.8357468762943
34315202.79294979
0.7240463658901493

In [68]:
w0 = model.intercept_
w = model.coef_
colm = df.drop(['charges'], axis=1).columns

In [69]:
print(w0, end=' ')
for i in range(len(colm)):
  print(f'+ {w[i]} {colm[i]} ', end = '')

# Уравнение регресии

-12043.346077378526 + 256.1580009163871 age + -236.70706065249215 sex + 347.35789841364874 bmi + 400.3768832672796 children + 24034.94278776119 smoker + -387.4970185920512 region