In [ ]:
from sklearn.preprocessing import LabelEncoder

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/insurance.csv")

In [ ]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

Ура, пропусков нет!

In [ ]:
df = pd.get_dummies(df, columns = ['sex', 'smoker', 'region'])

In [ ]:
y = df['charges']
x = df.drop(['charges'], axis = 1)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [ ]:
Shindzi = LinearRegression()
Shindzi.fit(x_train, y_train)

LinearRegression()

In [ ]:
y_pred = Shindzi.predict(x_test)

In [ ]:
print('mae:', mean_absolute_error(y_test, y_pred))
print('mse:', mean_squared_error(y_test, y_pred))
print('R2 score:', r2_score(y_test, y_pred))

mae: 4581.054606328812
mse: 41780928.684756
R2 score: 0.7215760281159733

Неплохой результат, но могло быть лучше