In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

In [2]:
from google.colab import files 
uploaded = files.upload()

Saving hotel_bookings.csv to hotel_bookings.csv

In [161]:
df = pd.read_csv("hotel_bookings.csv")

**Пункт 1**

In [162]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

Исследуем наши данные:

In [163]:
columns = df.columns
columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [164]:
for i in columns:
  print(i,len(pd.unique(df[i])),'\n')

hotel 2

is_canceled 2

lead_time 479

arrival_date_year 3

arrival_date_month 12

arrival_date_week_number 53

arrival_date_day_of_month 31

stays_in_weekend_nights 17

stays_in_week_nights 35

adults 14

children 6

babies 5

meal 5

country 178

market_segment 8

distribution_channel 5

is_repeated_guest 2

previous_cancellations 15

previous_bookings_not_canceled 73

reserved_room_type 10

assigned_room_type 12

booking_changes 21

deposit_type 3

agent 334

company 353

days_in_waiting_list 128

customer_type 4

adr 8879

required_car_parking_spaces 5

total_of_special_requests 6

reservation_status 3

reservation_status_date 926

In [165]:
# удаляем adr, a также есть 926 различных значений в столбце reservation_status_date поэтому можем его удалить

In [166]:
df = df.drop(['reservation_status_date'], axis = 1)

In [167]:

df = df.drop(['adr'], axis=1)

In [168]:
print("размер: " , df.shape,'\n')
print("__________информация:____________")
print(df.info(),'\n')
print("__________типы:___________")
print(df.dtypes,'\n')
print("__________пустые значения:____________")
print(df.isna().sum())

размер:  (119390, 30)

__________информация:____________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
dtypes: float64(3), int64(16), object(11)
memory usage: 27.3+ MB
None

__________типы:___________
hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
dtype: object

__________пустые значения:____________
hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
dtype: int64

In [169]:
#удалим company так как 112593 пустых значений из 119390

In [170]:
#не удалять agent, заполним пустые
#вместо пустых запишем среднее
#Также удалим столбцы с данными, не имеющими значение()

In [171]:
df = df.drop(['company'], axis=1)
print(df.isna().sum())

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             488
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             16340
days_in_waiting_list                  0
customer_type                         0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
dtype: int64

In [172]:
value = df['agent'].mean()
df['agent'] = df['agent'].fillna(value)

In [173]:
df.isna().sum()

hotel                               0
is_canceled                         0
lead_time                           0
arrival_date_year                   0
arrival_date_month                  0
arrival_date_week_number            0
arrival_date_day_of_month           0
stays_in_weekend_nights             0
stays_in_week_nights                0
adults                              0
children                            4
babies                              0
meal                                0
country                           488
market_segment                      0
distribution_channel                0
is_repeated_guest                   0
previous_cancellations              0
previous_bookings_not_canceled      0
reserved_room_type                  0
assigned_room_type                  0
booking_changes                     0
deposit_type                        0
agent                               0
days_in_waiting_list                0
customer_type                       0
required_car_parking_spaces         0
total_of_special_requests           0
reservation_status                  0
dtype: int64

In [174]:
df = df.dropna()
print("___________После обработки всех пустых значений______________")
print(df.isna().sum())

___________После обработки всех пустых значений______________
hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
dtype: int64

In [175]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,reservation_status
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,C,C,3,No Deposit,86.693382,0,Transient,0,0,Check-Out
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,C,C,4,No Deposit,86.693382,0,Transient,0,0,Check-Out
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,A,C,0,No Deposit,86.693382,0,Transient,0,0,Check-Out
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,A,A,0,No Deposit,304.000000,0,Transient,0,0,Check-Out
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,A,A,0,No Deposit,240.000000,0,Transient,0,1,Check-Out

In [176]:
df = df.drop(['country'], axis = 1)

In [177]:
print("hotel ",len(pd.unique(df['hotel'])),'\n')
print("arrival_date_month ",len(pd.unique(df['arrival_date_month'])),'\n')
print("meal ",len(pd.unique(df['meal'])),'\n')
print("market_segment ",len(pd.unique(df['market_segment'])),'\n')
print("distribution_channel ",len(pd.unique(df['distribution_channel'])),'\n')
print("reserved_room_type ",len(pd.unique(df['reserved_room_type'])),'\n')
print("assigned_room_type ",len(pd.unique(df['assigned_room_type'])),'\n')
print("deposit_type ",len(pd.unique(df['deposit_type'])),'\n')
print("customer_type ",len(pd.unique(df['customer_type'])),'\n')
print("reservation_status ",len(pd.unique(df['reservation_status'])),'\n')

hotel  2

arrival_date_month  12

meal  5

market_segment  7

distribution_channel  5

reserved_room_type  10

assigned_room_type  12

deposit_type  3

customer_type  4

reservation_status  3

In [178]:
df = pd.get_dummies(df, columns = ['hotel', 'arrival_date_month','meal','market_segment','distribution_channel','reserved_room_type','assigned_room_type','deposit_type','customer_type','reservation_status'])
df

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party,reservation_status_Canceled,reservation_status_Check-Out,reservation_status_No-Show
0,0,342,2015,27,1,0,0,2,0.0,0,...,1,0,0,0,0,1,0,0,1,0
1,0,737,2015,27,1,0,0,2,0.0,0,...,1,0,0,0,0,1,0,0,1,0
2,0,7,2015,27,1,0,1,1,0.0,0,...,1,0,0,0,0,1,0,0,1,0
3,0,13,2015,27,1,0,1,1,0.0,0,...,1,0,0,0,0,1,0,0,1,0
4,0,14,2015,27,1,0,2,2,0.0,0,...,1,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,23,2017,35,30,2,5,2,0.0,0,...,1,0,0,0,0,1,0,0,1,0
119386,0,102,2017,35,31,2,5,3,0.0,0,...,1,0,0,0,0,1,0,0,1,0
119387,0,34,2017,35,31,2,5,2,0.0,0,...,1,0,0,0,0,1,0,0,1,0
119388,0,109,2017,35,31,2,5,2,0.0,0,...,1,0,0,0,0,1,0,0,1,0
119389,0,205,2017,35,29,2,7,2,0.0,0,...,1,0,0,0,0,1,0,0,1,0

**Пункты 2 и 3**

In [179]:
X = df.drop(['is_canceled'], axis=1)
y = df['is_canceled']

In [180]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
model = LogisticRegression()
model.fit(X_train, y_train)
answers_pred = model.predict(X_test)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

**Пункт 4**

In [181]:
model.coef_

array([[ 7.43562514e-03,  1.94198352e-03,  1.36821963e-02,
        -4.94523610e-02, -3.39872560e-01, -4.35383901e-01,
         2.23573808e-01,  1.65979359e-01, -4.85357217e-02,
        -1.66535329e-01,  1.39238042e+00, -9.85441882e-01,
        -1.80165087e+00,  5.35165444e-03, -4.88401840e-02,
        -7.32866983e-01, -3.16127389e+00,  6.43520519e-01,
        -6.43448859e-01,  1.35566316e-01, -5.43036086e-02,
         1.03965865e-01,  6.38036869e-02, -1.96401423e-02,
        -1.49757257e-01,  2.85239997e-02, -6.52684865e-02,
        -1.26113610e-02, -1.71437393e-03,  1.58213871e-03,
        -3.00751164e-02,  2.22797224e-01,  5.73720760e-02,
        -3.27511481e-01,  7.90017463e-02, -3.15879049e-02,
         3.61421957e-04, -3.14229121e-02, -1.03465625e-01,
        -5.94733352e-01,  8.61081154e-01, -5.45227517e-01,
         4.13478491e-01, -1.22927853e-01, -6.40426563e-01,
        -3.63980158e-03,  7.67242012e-01, -1.76134585e-04,
         2.36018734e-01, -3.07236323e-02,  8.25147322e-03,
        -1.86545043e-01, -7.29842632e-02, -1.34293975e-02,
         3.75430626e-02,  2.10523312e-02,  1.42985758e-04,
         7.45408934e-04,  1.25785598e+00, -1.02763097e-01,
        -1.06181966e-01, -7.27954184e-01, -1.86721051e-01,
        -8.73519484e-02, -2.69242200e-03,  1.24548014e-02,
        -3.34465150e-02, -2.38733474e-02,  0.00000000e+00,
         7.45408934e-04, -2.32253880e+00,  2.33401959e+00,
        -1.14091285e-02, -1.64176926e-01, -4.23192917e-02,
         1.53433864e+00, -1.32777076e+00,  8.33174347e+00,
        -8.61282741e+00,  2.81155596e-01]])

In [182]:
model.intercept_

array([7.16613347e-05])

In [183]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,answers_pred))

0.9954583683767873

In [184]:
print(X_train.shape)
print(y_train.shape)

(83228, 80)
(83228,)

**Пункт 5**

In [185]:
X.columns

Index(['lead_time', 'arrival_date_year', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'booking_changes', 'agent',
       'days_in_waiting_list', 'required_car_parking_spaces',
       'total_of_special_requests', 'hotel_City Hotel', 'hotel_Resort Hotel',
       'arrival_date_month_April', 'arrival_date_month_August',
       'arrival_date_month_December', 'arrival_date_month_February',
       'arrival_date_month_January', 'arrival_date_month_July',
       'arrival_date_month_June', 'arrival_date_month_March',
       'arrival_date_month_May', 'arrival_date_month_November',
       'arrival_date_month_October', 'arrival_date_month_September', 'meal_BB',
       'meal_FB', 'meal_HB', 'meal_SC', 'meal_Undefined',
       'market_segment_Aviation', 'market_segment_Complementary',
       'market_segment_Corporate', 'market_segment_Direct',
       'market_segment_Groups', 'market_segment_Offline TA/TO',
       'market_segment_Online TA', 'distribution_channel_Corporate',
       'distribution_channel_Direct', 'distribution_channel_GDS',
       'distribution_channel_TA/TO', 'distribution_channel_Undefined',
       'reserved_room_type_A', 'reserved_room_type_B', 'reserved_room_type_C',
       'reserved_room_type_D', 'reserved_room_type_E', 'reserved_room_type_F',
       'reserved_room_type_G', 'reserved_room_type_H', 'reserved_room_type_L',
       'reserved_room_type_P', 'assigned_room_type_A', 'assigned_room_type_B',
       'assigned_room_type_C', 'assigned_room_type_D', 'assigned_room_type_E',
       'assigned_room_type_F', 'assigned_room_type_G', 'assigned_room_type_H',
       'assigned_room_type_I', 'assigned_room_type_K', 'assigned_room_type_L',
       'assigned_room_type_P', 'deposit_type_No Deposit',
       'deposit_type_Non Refund', 'deposit_type_Refundable',
       'customer_type_Contract', 'customer_type_Group',
       'customer_type_Transient', 'customer_type_Transient-Party',
       'reservation_status_Canceled', 'reservation_status_Check-Out',
       'reservation_status_No-Show'],
      dtype='object')

In [186]:
print("Y =", model.intercept_[0], end='')
w = model.coef_
for i in range(w[0].shape[0]):
  print('+', w[0][i], X.columns[i], end = ' ')

Y = 7.166133474133103e-05+ 0.007435625140232011 lead_time + 0.001941983518939234 arrival_date_year + 0.01368219626196254 arrival_date_week_number + -0.04945236097645775 arrival_date_day_of_month + -0.33987255993598725 stays_in_weekend_nights + -0.43538390079522094 stays_in_week_nights + 0.22357380789818024 adults + 0.16597935865295663 children + -0.048535721714894973 babies + -0.16653532887535485 is_repeated_guest + 1.3923804212700865 previous_cancellations + -0.9854418820981931 previous_bookings_not_canceled + -1.8016508748132734 booking_changes + 0.005351654438852824 agent + -0.04884018401768837 days_in_waiting_list + -0.7328669834711787 required_car_parking_spaces + -3.1612738901478505 total_of_special_requests + 0.6435205186672599 hotel_City Hotel + -0.6434488586015308 hotel_Resort Hotel + 0.1355663156463555 arrival_date_month_April + -0.054303608634765875 arrival_date_month_August + 0.10396586481287973 arrival_date_month_December + 0.06380368686824629 arrival_date_month_February + -0.019640142278974742 arrival_date_month_January + -0.14975725695765058 arrival_date_month_July + 0.028523999685192286 arrival_date_month_June + -0.06526848650005065 arrival_date_month_March + -0.01261136099372113 arrival_date_month_May + -0.0017143739294901666 arrival_date_month_November + 0.0015821387080335555 arrival_date_month_October + -0.03007511636015993 arrival_date_month_September + 0.22279722384080722 meal_BB + 0.05737207595229654 meal_FB + -0.32751148114127004 meal_HB + 0.07900174627876963 meal_SC + -0.03158790486478609 meal_Undefined + 0.0003614219572275482 market_segment_Aviation + -0.0314229120861989 market_segment_Complementary + -0.1034656246865806 market_segment_Corporate + -0.5947333524888992 market_segment_Direct + 0.8610811542442524 market_segment_Groups + -0.5452275174984984 market_segment_Offline TA/TO + 0.4134784906244984 market_segment_Online TA + -0.12292785255950862 distribution_channel_Corporate + -0.6404265627846164 distribution_channel_Direct + -0.0036398015841036155 distribution_channel_GDS + 0.7672420115787949 distribution_channel_TA/TO + -0.00017613458465398594 distribution_channel_Undefined + 0.23601873439612345 reserved_room_type_A + -0.03072363230116305 reserved_room_type_B + 0.008251473222291864 reserved_room_type_C + -0.1865450430131953 reserved_room_type_D + -0.07298426324804203 reserved_room_type_E + -0.013429397535193848 reserved_room_type_F + 0.03754306261868085 reserved_room_type_G + 0.02105233123373204 reserved_room_type_H + 0.00014298575815698922 reserved_room_type_L + 0.0007454089344379142 reserved_room_type_P + 1.257855980967817 assigned_room_type_A + -0.10276309727200415 assigned_room_type_B + -0.10618196557694691 assigned_room_type_C + -0.7279541841420705 assigned_room_type_D + -0.1867210514474356 assigned_room_type_E + -0.08735194841554912 assigned_room_type_F + -0.002692421998707171 assigned_room_type_G + 0.012454801351947901 assigned_room_type_H + -0.03344651496378573 assigned_room_type_I + -0.023873347371937453 assigned_room_type_K + 0.0 assigned_room_type_L + 0.0007454089344379142 assigned_room_type_P + -2.3225387980698713 deposit_type_No Deposit + 2.3340195866530538 deposit_type_Non Refund + -0.011409128517383984 deposit_type_Refundable + -0.16417692579932133 customer_type_Contract + -0.042319291749889694 customer_type_Group + 1.5343386363263871 customer_type_Transient + -1.3277707587115215 customer_type_Transient-Party + 8.331743469565863 reservation_status_Canceled + -8.612827405730046 reservation_status_Check-Out + 0.2811555962293505 reservation_status_No-Show

**Пункт 6**

In [187]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

confusion_matrix(y_test, answers_pred)

array([[22531,    15],
       [  147, 12977]])

In [188]:
df_y = pd.DataFrame(y_test)
df_y.value_counts()

is_canceled
0              22546
1              13124
dtype: int64

In [189]:
tn, fp, fn, tp = confusion_matrix(y_test, answers_pred).ravel()
print("TN:", tn) # - true positive
print("FP:", fp) # - false positive
print("FN:", fn) # - false negative
print("TP:", tp) # - true negative

TN: 22531
FP: 15
FN: 147
TP: 12977

**Пункт 7**

In [190]:
accuracy_vruch = (tp + tn)/(tp + tn + fn + fp)
accuracy_vruch

0.9954583683767873

In [191]:
#полнота
recall_vruch = (tp)/(tp + fn)
recall_vruch

0.9887991466016458

In [192]:
#точность
precision_vruch = (tp)/(tp + fp)
precision_vruch

0.9988454433497537

In [193]:
#F мера
f1_vruch = 2*(precision_vruch*recall_vruch)/(precision_vruch + recall_vruch)
f1_vruch

0.9937969061111962

**Пункт 8**

In [194]:
print("accuracy " , accuracy_score(y_test, answers_pred))
print("recall " , recall_score(y_test, answers_pred))
print("precision " , precision_score(y_test, answers_pred))
print("f1: " , f1_score(y_test, answers_pred))

accuracy  0.9954583683767873
recall  0.9887991466016458
precision  0.9988454433497537
f1:  0.9937969061111962

**Вывод: метрики получились хорошие, скорее всего из-за большого количества входных данных **