In [2]:
import pandas as pd
import numpy as np
from google.colab import files
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder

from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

#Читаем данные

In [3]:
df = pd.read_csv('adult.csv', sep = ',')
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

#Обрабатывам данные

1) Обработка NaN

In [4]:
for col in df.columns:
  df[col] = df[col].apply(lambda x: np.NaN if x == '?' else x)

df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,NaN,186061,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [5]:
df.isna().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
income               0
dtype: int64

In [6]:
df = df.dropna(axis = 0)
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K

In [7]:
df['workclass'].value_counts()

Private             22286
Self-emp-not-inc     2499
Local-gov            2067
State-gov            1279
Self-emp-inc         1074
Federal-gov           943
Without-pay            14
Name: workclass, dtype: int64

In [8]:
df['race'].value_counts()

White                 25933
Black                  2817
Asian-Pac-Islander      895
Amer-Indian-Eskimo      286
Other                   231
Name: race, dtype: int64

In [9]:
df['sex'].value_counts()

Male      20380
Female     9782
Name: sex, dtype: int64

2) Обработка категориальных данных

In [10]:
df['income'] = df['income'].apply(lambda x: 0 if x == '<=50K' else 1)
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,0
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,0
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,0
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,0
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,0

In [11]:
num_columns = df.select_dtypes(include=np.number).columns
cat_columns = list(set(df.columns) - set(num_columns))
cat_columns

['occupation',
 'marital.status',
 'sex',
 'education',
 'workclass',
 'native.country',
 'relationship',
 'race']

In [12]:
for col in cat_columns:
  print(col, len(df[col].unique()))

occupation 14
marital.status 7
sex 2
education 16
workclass 7
native.country 41
relationship 6
race 5

In [13]:
df = pd.get_dummies(df, cat_columns)
df.head()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week,income,occupation_Federal-gov,occupation_Local-gov,occupation_Private,...,race_Portugal,race_Puerto-Rico,race_Scotland,race_South,race_Taiwan,race_Thailand,race_Trinadad&Tobago,race_United-States,race_Vietnam,race_Yugoslavia
1,82,132870,9,0,4356,18,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,54,140359,4,0,3900,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,41,264663,10,0,3900,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
5,34,216864,9,0,3770,45,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
6,38,150601,6,0,3770,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

#Обучаем модель и вычисляем метрики

In [15]:
X = df.drop(columns = 'income')
y = df['income']

In [16]:
from imblearn.over_sampling import SMOTE

os = SMOTE(random_state=0, k_neighbors=10)

columns = X.columns

os_data_X, os_data_y = os.fit_resample(X, y)
os_data_X = pd.DataFrame(os_data_X, columns = columns)
os_data_y = pd.DataFrame(os_data_y, columns = ['income'])

In [17]:
os_data_y.value_counts()

income
0         22654
1         22654
dtype: int64

In [18]:
X_train, X_test, y_train, y_test = train_test_split(os_data_X, os_data_y, test_size = 0.3)

In [19]:
Misato = LogisticRegression(class_weight = 'balanced')
Misato.fit(X_train, y_train)
answers_pred = Misato.predict(X_test)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [20]:
Misato.coef_

array([[ 4.27152427e-03, -2.61182993e-06,  9.53947662e-04,
         3.12883104e-04,  7.21356206e-04,  3.45929247e-03,
        -1.00939137e-05, -4.25819889e-05, -3.36693369e-04,
         4.35230367e-06, -5.41246140e-05, -2.99117685e-05,
        -9.24970283e-07, -3.43377209e-05, -4.60564352e-05,
        -1.63873362e-05, -7.28817408e-06, -1.17655807e-05,
        -2.59602630e-05, -1.94612881e-05, -2.43103587e-05,
        -2.96952065e-05,  6.96360954e-06,  7.70937239e-06,
        -3.01659398e-04,  1.31416213e-05, -1.85415644e-06,
         9.67387889e-06, -1.84786673e-04, -1.73854915e-04,
         2.97999640e-07,  4.61487455e-04, -1.64097096e-05,
        -4.44956959e-04, -4.08941585e-05, -3.32356622e-05,
        -1.37294099e-04, -3.71650956e-07, -1.06193929e-04,
         2.27269452e-05, -3.98930545e-05, -5.65982809e-05,
        -7.34475574e-05, -1.48237189e-04, -7.31812403e-06,
         4.75944620e-06, -1.04144874e-05, -7.36525814e-05,
        -1.53839536e-05, -4.44551976e-05,  3.58028392e-04,
        -3.09555653e-04, -4.00162683e-05, -2.23331544e-04,
        -1.41002614e-04,  1.20595755e-06, -1.22193589e-05,
        -1.72484526e-05, -9.95956869e-05, -8.50926458e-06,
        -5.73169836e-05, -3.75348810e-04,  1.26851333e-04,
        -2.82669934e-08, -2.14088668e-06, -1.15951275e-06,
        -2.78709272e-06, -1.55281876e-06, -3.14913785e-06,
        -8.55006116e-07, -3.65901397e-06, -1.07777204e-06,
        -7.60314110e-08, -1.98021995e-06, -8.94672809e-07,
        -2.61707339e-06, -1.78827162e-06, -1.34050931e-07,
        -6.19833396e-07,  2.96115359e-08, -3.01512389e-07,
        -9.26257578e-07, -1.04153430e-07, -7.29182075e-07,
        -7.91401929e-07, -3.36444576e-06, -7.19007271e-07,
        -4.67765152e-07, -2.49861775e-05, -1.32046828e-06,
        -8.27300776e-07, -1.37057316e-06, -2.54583184e-06,
        -1.85315674e-06, -1.14180540e-06, -3.65139417e-06,
        -2.48769320e-07, -2.64574904e-06, -3.10816854e-07,
        -4.64892169e-07, -5.51385075e-07, -9.79569364e-05,
        -2.93110201e-06, -1.49014538e-07]])

In [ ]:
Misato.intercept_

array([-2.22673438e-07])

In [ ]:
print('y =', Misato.intercept_[0], 4, end = ' ')
for i in range(len(Misato.coef_[0])):
  print('+', Misato.coef_[0][i], 4, f'* {X_train.columns.values[i]}',  end = ' ')

y = -2.2267343788865953e-07 4 + 2.3766280434813364e-05 4 * age + -1.3285165629398294e-06 4 * fnlwgt + 6.521040726477169e-06 4 * education.num + 0.00031758822553372483 4 * capital.gain + 0.000783290730707859 4 * capital.loss + 2.0149282078595426e-05 4 * hours.per.week + 1.1535609614821944e-07 4 * sex_Federal-gov + 9.659158998841267e-08 4 * sex_Local-gov + -7.18519639714188e-07 4 * sex_Private + 2.388921154873324e-07 4 * sex_Self-emp-inc + 3.599219647708147e-08 4 * sex_Self-emp-not-inc + 1.0968845277393358e-08 4 * sex_State-gov + -1.954641552834297e-09 4 * sex_Without-pay + -1.173204984801942e-07 4 * native.country_10th + -1.761297325677025e-07 4 * native.country_11th + -5.361687019210874e-08 4 * native.country_12th + -2.5432579430546554e-08 4 * native.country_1st-4th + -4.566175653986029e-08 4 * native.country_5th-6th + -9.418512532433393e-08 4 * native.country_7th-8th + -7.455889923770258e-08 4 * native.country_9th + -1.1122977271136916e-08 4 * native.country_Assoc-acdm + -4.599168501682175e-09 4 * native.country_Assoc-voc + 6.510264943634878e-07 4 * native.country_Bachelors + 1.4674048227317422e-07 4 * native.country_Doctorate + -7.215254980665513e-07 4 * native.country_HS-grad + 4.164067081744097e-07 4 * native.country_Masters + -1.0413799477037195e-08 4 * native.country_Preschool + 1.7886364285077816e-07 4 * native.country_Prof-school + -2.8114386046157707e-07 4 * native.country_Some-college + -5.513965031875257e-07 4 * workclass_Divorced + 4.014595874204278e-09 4 * workclass_Married-AF-spouse + 2.339093345340073e-06 4 * workclass_Married-civ-spouse + -6.074417869030209e-08 4 * workclass_Married-spouse-absent + -1.6952075909365788e-06 4 * workclass_Never-married + -1.465406155716004e-07 4 * workclass_Separated + -1.1189249071683846e-07 4 * workclass_Widowed + -3.5789560606228174e-07 4 * race_Adm-clerical + -8.48410938658868e-11 4 * race_Armed-Forces + -7.776665324410024e-08 4 * race_Craft-repair + 7.037643511966862e-07 4 * race_Exec-managerial + -1.2169526274342663e-07 4 * race_Farming-fishing + -2.236965157104353e-07 4 * race_Handlers-cleaners + -1.9968702842744078e-07 4 * race_Machine-op-inspct + -5.612404001303048e-07 4 * race_Other-service + -2.9282559683067314e-08 4 * race_Priv-house-serv + 5.95808903165249e-07 4 * race_Prof-specialty + 5.195695269882007e-08 4 * race_Protective-serv + 1.4477019422685181e-08 4 * race_Sales + 3.996099409667998e-08 4 * race_Tech-support + -5.729279137378129e-08 4 * race_Transport-moving + 2.1057862740369787e-06 4 * relationship_Husband + -1.0088832964993528e-06 4 * relationship_Not-in-family + -1.5538381137891793e-07 4 * relationship_Other-relative + -8.948707168658403e-07 4 * relationship_Own-child + -5.235040275001119e-07 4 * relationship_Unmarried + 2.5418214031866454e-07 4 * relationship_Wife + -3.564012976816131e-08 4 * occupation_Amer-Indian-Eskimo + 1.144069652212598e-08 4 * occupation_Asian-Pac-Islander + -2.8388544672228763e-07 4 * occupation_Black + -3.598436047928542e-08 4 * occupation_Other + 1.2139580255902468e-07 4 * occupation_White + -1.2202669375622522e-06 4 * marital.status_Female + 9.975934996736705e-07 4 * marital.status_Male + 2.8722870652359866e-09 4 * education_Cambodia + 1.5622365926037192e-08 4 * education_Canada + -9.62629567814851e-10 4 * education_China + -1.2303624291089974e-08 4 * education_Columbia + 3.0076557778912107e-09 4 * education_Cuba + -1.3226613706670536e-08 4 * education_Dominican-Republic + -4.054467382045518e-09 4 * education_Ecuador + -1.1204639872543643e-08 4 * education_El-Salvador + 4.742357017059143e-09 4 * education_England + 5.3762435150645425e-09 4 * education_France + 7.209279328333126e-09 4 * education_Germany + 3.3907353599329283e-10 4 * education_Greece + -1.0660686141357908e-08 4 * education_Guatemala + -4.331128317096151e-09 4 * education_Haiti + -3.264688144070125e-10 4 * education_Holand-Netherlands + -1.5596592301482707e-09 4 * education_Honduras + 1.4856321102720445e-09 4 * education_Hong + -1.4531283771527066e-09 4 * education_Hungary + 7.970971915531147e-09 4 * education_India + 5.593488353577838e-09 4 * education_Iran + -2.403554435178149e-09 4 * education_Ireland + 9.58347840884248e-09 4 * education_Italy + -9.929948731622794e-09 4 * education_Jamaica + 4.299988198171594e-09 4 * education_Japan + -4.182908081183636e-11 4 * education_Laos + -9.97690809057782e-08 4 * education_Mexico + -5.33779023716646e-09 4 * education_Nicaragua + -3.2325937943031052e-09 4 * education_Outlying-US(Guam-USVI-etc) + -5.342404646296206e-09 4 * education_Peru + 1.337359333043299e-08 4 * education_Philippines + -6.094012835953052e-09 4 * education_Poland + -3.637531072579863e-09 4 * education_Portugal + -1.1676264320640239e-08 4 * education_Puerto-Rico + -6.579177579957696e-10 4 * education_Scotland + -1.4975319893036139e-09 4 * education_South + 7.836441938921478e-09 4 * education_Taiwan + -1.5935387740412074e-09 4 * education_Thailand + -8.615677529368241e-10 4 * education_Trinadad&Tobago + -9.049644378657147e-08 4 * education_United-States + -1.0138716452717722e-08 4 * education_Vietnam + 8.074779642755045e-10 4 * education_Yugoslavia

In [21]:
tn, fp, fn, tp = confusion_matrix(y_test, answers_pred).ravel()

In [22]:
(tp + tn) / (tp + tn + fp + fn)

0.609652026778489

In [ ]:
# Accuracy
(tp + tn) / (tp + tn + fp + fn)

0.7775444800530446

In [ ]:
accuracy_score(y_test, answers_pred)

0.7775444800530446

In [23]:
recall = tp / (tp + fn)
recall

0.5287881018995729

In [ ]:
# Recall 
recall = tp / (tp + fn)
recall

0.31339285714285714

In [ ]:
recall_score(y_test, answers_pred)

0.31339285714285714

In [24]:
precision = tp / (tp + fp)
precision

0.6303317535545023

In [ ]:
# Precision 
precision = tp / (tp + fp)
precision

0.5964316057774002

In [ ]:
precision_score(y_test, answers_pred)

0.5964316057774002

In [25]:
f1 = 2 * precision * recall / (recall + precision)
f1

0.5751121076233183

In [ ]:
# F1
f1 = 2 * precision * recall / (recall + precision)
f1

0.4108867427568042

In [ ]:
f1_score(y_test, answers_pred)

0.4108867427568042

После балансировки метрики стали немногим лучше