# Задание

У каждого есть свой набор данный, который можно найти в ведомости на вкладке "Логистическая регрессия":

https://clck.ru/32BVWe

Скачиваете свой датасет с kaggle (для этого нужно авторизоваться с гугл аккаунт и скачать датасет).

**Ваша задача:**
1. Исследовать данные
2. Создать тренировочную и тестовую подвыборки
3. Построить модель логистической регрессии по своему набору данных (т.е. создать модель и обучить ее на тренировочной выборке)
4. Получить коэффиценты уравнения логистической регрессии (т.е. уравнение разделяющей поверхности). Сделать вывод какие из признаков оказались наиболее значимыми, какие нет и почему
5. Написать уравнение логистической регрессии.
6. Вывести confusion matrix для получившейся модели.
7. Вручную посчитать метрики: accuracy, recall, precision. f1.
8. Посчитать метрики с помощью библиотеки sklearn и сравнить с оценками из п.7.
9. Сделать письменный вывод получившихся результатов (хорошие или плохие получлись метрики и почему).

ВСЕ графики должны быть подписанны.
Ваша задача получить метрики как можно лучше.

In [108]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder
import seaborn as sns
from sklearn import preprocessing

from sklearn.linear_model import LogisticRegression

In [88]:
df = pd.read_csv("neo.csv")
df

,id,name,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,orbiting_body,sentry_object,absolute_magnitude,hazardous
0,2162635,162635 (2000 SS164),1.198271,2.679415,13569.249224,5.483974e+07,Earth,False,16.73,False
1,2277475,277475 (2005 WK4),0.265800,0.594347,73588.726663,6.143813e+07,Earth,False,20.00,True
2,2512244,512244 (2015 YE18),0.722030,1.614507,114258.692129,4.979872e+07,Earth,False,17.83,False
3,3596030,(2012 BV13),0.096506,0.215794,24764.303138,2.543497e+07,Earth,False,22.20,False
4,3667127,(2014 GE35),0.255009,0.570217,42737.733765,4.627557e+07,Earth,False,20.09,True
...,...,...,...,...,...,...,...,...,...,...
90831,3763337,(2016 VX1),0.026580,0.059435,52078.886692,1.230039e+07,Earth,False,25.00,False
90832,3837603,(2019 AD3),0.016771,0.037501,46114.605073,5.432121e+07,Earth,False,26.00,False
90833,54017201,(2020 JP3),0.031956,0.071456,7566.807732,2.840077e+07,Earth,False,24.60,False
90834,54115824,(2021 CN5),0.007321,0.016370,69199.154484,6.869206e+07,Earth,False,27.80,False
90835,54205447,(2021 TW7),0.039862,0.089133,27024.455553,5.977213e+07,Earth,False,24.12,False

In [91]:
encoder = preprocessing.LabelEncoder()
encoder.fit(df["hazardous"])

LabelEncoder()

In [92]:
df["hazardous"] = encoder.transform(df["hazardous"])
df["sentry_object"] = encoder.transform(df["sentry_object"])
df.drop(['name', 'orbiting_body'], axis=1, inplace=True)

In [93]:
df

,id,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,sentry_object,absolute_magnitude,hazardous
0,2162635,1.198271,2.679415,13569.249224,5.483974e+07,0,16.73,0
1,2277475,0.265800,0.594347,73588.726663,6.143813e+07,0,20.00,1
2,2512244,0.722030,1.614507,114258.692129,4.979872e+07,0,17.83,0
3,3596030,0.096506,0.215794,24764.303138,2.543497e+07,0,22.20,0
4,3667127,0.255009,0.570217,42737.733765,4.627557e+07,0,20.09,1
...,...,...,...,...,...,...,...,...
90831,3763337,0.026580,0.059435,52078.886692,1.230039e+07,0,25.00,0
90832,3837603,0.016771,0.037501,46114.605073,5.432121e+07,0,26.00,0
90833,54017201,0.031956,0.071456,7566.807732,2.840077e+07,0,24.60,0
90834,54115824,0.007321,0.016370,69199.154484,6.869206e+07,0,27.80,0
90835,54205447,0.039862,0.089133,27024.455553,5.977213e+07,0,24.12,0

In [94]:
X = df.drop(['hazardous'], axis=1)
y = df['hazardous']
X_train, X_test, y_train, y_test = train_test_split(df.drop(['hazardous'], axis=1), df['hazardous'], test_size=0.3)

In [110]:
model = LogisticRegression()

model.fit(X_train, y_train)

pred = model.predict(X_test)

In [96]:
model.coef_

array([[-6.30954669e-08,  9.57235551e-11,  2.14044376e-10,
        -7.95526268e-06, -2.70607547e-08,  0.00000000e+00,
        -1.72034407e-08]])

y = -6.30954669e-08 + 9.57235551e-11x + -2.14044376e-10x + -7.95526268e-06x + -2.70607547e-08x + 0 + -1.72034407e-08x

In [111]:
confusion_matrix(y_test, pred)

array([[24616,     0],
       [ 2635,     0]])

In [132]:
tn, fp, fn, tp = confusion_matrix(y_test, pred).ravel()

In [128]:
acc = (tp + tn)/(tp + tn + fp + fn)
print(acc)
accuracy_score(y_test, pred)

0.9033063006862133

0.9033063006862133

In [129]:
rec = tp/(tp + fn)
print(rec)
recall_score(y_test, pred)

0.0

0.0

In [130]:
prec = tp/(tp + fp)
print(prec)
precision_score(y_test, pred)

nan

<ipython-input-130-e41229e2fd3b>:1: RuntimeWarning: invalid value encountered in long_scalars
  prec = tp/(tp + fp)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.0

In [131]:
f1 = 2 * ((prec * rec)/(prec + rec))
print(f1)
f1_score(y_test, pred)

nan

0.0

так как 3/4 метрик равны 0, можно сделать вывод, что модель работает очень плохо