In [8]:
#2
import numpy as np
def add(a,b):
  z=[]
  for i in range(len(a)):
    z.append(a[i]*b[i])
  return z

a = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
b = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
print(add(a,b))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
#3
z = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

for i in range(3,9):
  z[i]=-z[i]
print(z)

[ 0  1  2 -3 -4 -5 -6 -7 -8  9]

In [14]:
#4

def add(a,b):
  m=[]
  for i in range(len(a)):
      for j in range(len(b)):
        if(a[i]==b[j]):
          m.append(a[i])
  m.sort()
  return m
a = np.array([0, 18, 2, 3, 60, 5, 6, 7, 4, 44])
b = np.array([0, 1, 2, 56, 4, 44, 6, 32, 16, 9])
print(add(a,b))

[0, 2, 4, 6, 44]