Задание 1

In [ ]:
li = input()
a = li.split(" ")
b = [];
for i in a:
    if i != "0":
        b.append(i)
for i in a:
    if i == "0":
        b.append(i)
print(" ".join(b))

Задание 2

In [ ]:
a = input()
a = a.split()
dicti = dict()
for i in a:
    if i not in dicti:
        dicti[i] = a.count(i)
print(dicti)

Задание 3

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if a**2+b**2<=c**2:
    print("YES")
else:
    print("NO")

Задание 4

In [ ]:
a = ['Никита', 'Евгений', 'Андрей', 'Роман', 'Егор']
b  = ['Нечаев', 'Нуромский', 'Родин', 'Рыженко', 'Юлов']
new = [a[i]+" "+b[i] for i in range(len(a))]
print(new)