In [ ]:
import pandas as pd

url1 = 'https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/class_work_4_Pandas/ONTI%20Students%20performance/X_train.csv'
url2 = 'https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/class_work_4_Pandas/ONTI%20Students%20performance/studs_info.csv'
url3 = 'https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/class_work_4_Pandas/ONTI%20Students%20performance/zachety.csv'
url4 = 'https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/class_work_4_Pandas/ONTI%20Students%20performance/y_train.csv'

X_train = pd.read_csv(url1)
studs_info = pd.read_csv(url2)
zachety = pd.read_csv(url3)
y_train = pd.read_csv(url4)


#1
print(X_train.shape,studs_info.shape,zachety.shape,y_train.shape)

In [ ]:

#1
print(X_train.shape,studs_info.shape,zachety.shape,y_train.shape)

In [ ]:
#2
x = pd.concat([X_train,y_train],axis=1)
x

In [ ]:
#3
studs_info.isna().sum().sum()

In [53]:
#4
x = studs_info
x['Пол'].value_counts()

Ж    3192
М    2273
Name: Пол, dtype: int64

In [ ]:
#5
x2 = x[x['Дата выпуска']=='2019-06-30']
x2[x2['Пол']=='М']

In [ ]:
#7
print(len(x['Статус'].unique()))
print(x['Статус'].value_counts())

In [ ]:
#8
y_train['mark'].value_counts()

In [ ]:
#9
x = pd.concat([X_train,y_train],axis=1)
x = x[x['STD_ID']==175711]
x['mark'].sum()/len(x['mark'])

In [ ]:
#10
y_train.drop(columns = ['mark','index'])

НЕТУ ТОЛЬКО 6 НОМЕРА