1.

In [45]:
a=list(map(int,input().split()))
b=list(map(int,input().split()))
for i in a:
  if i not in b:
    print(i)

12 23 44
23
12
44

2

In [1]:
lst= ['a', 4, 'hello', (1,5), 10, 'b']
lst[0:2]=[4,'a']
lst[2:4]=[(1,5),'hello']
lst[4:6]=['b',10]
print(lst)

[4, 'a', (1, 5), 'hello', 'b', 10]

3

In [ ]:
a=input()
if a==a[-1::-1 ]:
    print("Yes")
else:
    print("NO")

4

In [36]:
n=list(map(int,input().split()))
sp1=[]
sp2=[]
sp3=[]
sp4=[]
sp5=[]
sp6=[]
l=len(n)
sp1=[i**2 for i in n]
sp2=[i//4 for i in n]
for i in range(0,l):
  if n[i]>0:
    sp4.append(n[i]*2)
  else:
    sp4.append(float(n[i])/2)
  if n[i]%2!=0:
    sp3.append(n[i])
  sp5.append(n[i])
  sp5.append(n[i]+1)
  if i%5==0:
    sp6.append(n[i])

print(sp1,sp2,sp3,sp4,sp5,sp6)

1
[1] [0] [1] [2] [1, 2] [1]